header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
    background-color: #4A90E2;
    color: white;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

header h3 {
    margin: 0; //CENTER VERTICALLY
}

.header-buttons {
    display: flex;
    gap: 10px; 
}

header button {
    background-color: white;
    color: #4A90E2;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

header button:hover {
    background-color: #4A90E2;
    color: white;
}
